@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #181818;
  --dark-light: #1e1e1e;
  --white: #ffffff;
  --red-light: #dc3b5a;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--white);
  background: var(--dark);
}

@layer base {
  @font-face {
    font-family: 'RGrotCB';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/RightGrotesk-CompactBlack.woff2) format('woff2');
  }

  @font-face {
    font-family: 'MSMono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/MessinaSansMono-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'MSMono';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/MessinaSansMono-SemiBold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'BiroScriptUSPB';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/BiroScriptUSPlus-Bold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'BiroScriptPB';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/BiroScriptPlus-Bold.woff2) format('woff2');
  }
}
